<% if @message %>
  <div class="alert alert-danger">
    <%= @message %>
  </div>
<% end %>
<h1>Recipes</h1>
<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <%= link_to recipe.name, recipe.url %>
      <%= link_to "edit", edit_recipe_path(recipe.id) %>
      <%= link_to "ingredients", recipe_ingredients_path(recipe.id) %>
      <%= link_to "delete recipe", recipe_path(recipe.id), method: :delete %>
      <% grocery_list = GroceryList.first %>
      <%= link_to "Add ingredients to Grocery List", add_ingredients_path(recipe.id, grocery_list.id), method: :post %>
    </li>
  <% end %>

  <%= form_for(:recipe) do |f| %>
    <div class="form-group">
      <%= f.label :name, class: "control-label" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :url, class: "control-label" %>
      <%= f.text_field :url, class: "form-control" %>
    </div>

    <%= f.submit "Add", class: "btn btn-primary" %>
  <% end %>
  <%= link_to "Grocery List", grocery_lists_path %>
</ul>
