<%= form_for(@ingredient) do |f| %>

  <div class="form-group">
    <%= f.label :name, class: "control-label" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :quantity, class: "control-label" %>
    <%= f.text_field :quantity, class: "form-control" %>
  </div>

  <%= f.submit "Update", class: "btn btn-primary" %>
<% end %>
<% if @ingredient.recipe %>
  <%= link_to "Back to Recipe", recipe_ingredients_path(@ingredient.recipe.id) %> |
<% end %>
<%= link_to "Grocery List", grocery_lists_path %>
